:root{
    /* Colors */
    --color-primary: #E15066;
    --color-primary-dark: #C53B4F;
    --color-primary-light: #FFC0CB;
    --color-primary-text: #FFFFFF;

    --color-secondary: #0063A0;
    --color-secondary-dark: #00538F;
    --color-secondary-light: #00A0FF;
    --color-secondary-text: #FFF;

    --color-tertiary: hsl(212, 53%, 15%);
    --color-tertiary-dark: hsl(208, 50%, 12%);
    --color-tertiary-light: #1E3C5B;
    --color-tertiary-text: hsl(0, 0%, 100%);

    --color-accent: #e7465e;
    --color-accent-dark: #c53b4f;
    --color-accent-light: #ffc0cb;
    --color-accent-text: #FFF;

    --color-white: #f5f5f5;
    --color-black: rgb(15, 15, 15);

    --color-gray: #e1dddd;
    --color-gray-dark: #c1c1c1;
    --color-gray-light: #f5f5f5;

    --color-danger: #f44336;
    --color-danger-dark: #b71c1c;
    --color-danger-light: #f44336;
    --color-danger-text: #FFF;

    --color-success: #4caf50;
    --color-success-dark: #388e3c;
    --color-success-light: #4caf50;
    --color-success-text: #FFF;

    --color-warning: #ffc107;
    --color-warning-dark: #d39e00;
    --color-warning-light: #ffc107;
    --color-warning-text: #FFF;

    --color-info: #2196f3;
    --color-info-dark: #0d47a1;
    --color-info-light: #2196f3;
    --color-info-text: #FFF;

    /* Fonts */
    --font-primary: 'Barlow', sans-serif;
    --font-secondary: 'Enriqueta', sans-serif;

    /* Font sizes */
    --font-size-base: 14px;
    --font-size-sm: 0.75rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;

    /* Line heights */
    --line-height-base: 1.5;
    --line-height-sm: 1.25;
    --line-height-lg: 1.5;
    --line-height-xl: 1.75;
    --line-height-xxl: 2;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 3rem;

    /* Borders */
    --border-radius-base: 0.25rem;
    --border-radius-sm: 0.125rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xl: 1rem;

    /* Shadows */
    --shadow-lv1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-lv2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lv3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-lv4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadow-lv5: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadow-lv6: 0 30px 60px -12px rgba(0, 0, 0, 0.22);
    --shadow-lv7: 0 35px 70px -12px rgba(0, 0, 0, 0.2);

    /*z-index*/

    --z-index-lv1: 1;
    --z-index-lv2: 100;
    --z-index-lv3: 200;
    --z-index-lv4: 300;
    --z-index-lv5: 400;
    --z-index-lv6: 500;
    --z-index-lv7: 600;

    --max-width: 1200px;

    --effect-button: 0 1.2px 0 2px rgba(0, 0, 0, 0.1),
                    0 1.2px 0 2px var(--color-secondary),
                    inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}